<!DOCTYPE html>
<html>
  <head>
    <title>Jeremiah Parrack</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <meta name="keywords" content="fullstack, developer, coding, frontend, backend, Ruby on Rails, Vim, Jeremiah, Parrack, jeremiah, jeremiah parrack" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="logo">
          <br> <pre style="background-color: #ffffff"><br>
      if(espresso){
         return code;
      }</pre> </div>

    <header id="main_navigation" class="clearfix">
   <div id="main_name">  <%= link_to "Jeremiah Parrack", root_path, class: "name" %></div><br>
      <nav>
        <a href="https://docs.google.com/document/d/104vzbtyoHl3syc6PHHk4KlmcbtloF76mo7jhL-HDcio/edit?usp=sharing" target="_blank">Resume</a>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>
        <%= link_to "Contact", new_contact_path %>
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <footer id="main_footer">
      <p class="copyright">&copy;2017 Jeremiah Parrack</p>
      <nav>
        <a href="https://twitter.com/jeremiahparrack" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/jeremiahlukus/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/jeremiahlukus" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </nav>
    </footer>
</div>
  </body>
</html>
